<h1>
  Template Form
</h1>
<form #userForm="ngForm">

  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" id="name" [(ngModel)]="user.name" #name="ngModel" required>
      <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
        <div [hidden]="!name.errors.required">
          Name is required
        </div>
      </div>
  </div>

  <fieldset>
    <legend>Address</legend>

    <div class="form-group">
      <label for="street">Street: </label>
      <!-- Street input here -->
      <!-- div *ngIf="street.errors && (street.dirty || street.touched)" class="alert alert-danger">
        <div [hidden]="!street.errors.required">
          Street is required
        </div>
        <div [hidden]="!street.errors.minlength">
          Street must be at least 3 characters long
        </div>
        <div [hidden]="!street.errors.pattern">
          Street must contain only letters
        </div>
      </div -->
    </div>

    <div class="form-group">
      <label for="number">Number: </label>
      <!-- Number input here -->
      <!-- div *ngIf="number.errors && (number.dirty || number.touched)" class="alert alert-danger">
        <div [hidden]="!number.errors.required">
          Number is required
        </div>
        <div [hidden]="!number.errors.min">
          Number must be at least 5
        </div>
        <div [hidden]="!number.errors.max">
          Number must be less than 200
        </div>
      </div -->
    </div>

  </fieldset>

  <div class="form-group">
    <label for="password">Password: </label>
    <!-- Password input here -->
    <!-- div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
      <div [hidden]="!password.errors.required">
        Password is required
      </div>
      <div [hidden]="!password.errors.pattern">
        At least one number, one uppercase and lowercase letter and at least 8 characters long
      </div>
      <div [hidden]="!password.errors.equalToControl">
        Password needs to match password confirmation
      </div>
    </div -->
  </div>

  <div class="form-group">
    <label for="passwordConfirmation">Password confirmation: </label>
    <!-- Password confirmation input here -->
    <!-- div *ngIf="passwordConfirmation.errors && (passwordConfirmation.dirty || passwordConfirmation.touched)" class="alert alert-danger">
      <div [hidden]="!passwordConfirmation.errors.required">
        Password confirmation is required
      </div>
      <div [hidden]="!passwordConfirmation.errors.pattern">
        At least one number, one uppercase and lowercase letter and at least 8 characters long
      </div>
      <div [hidden]="!passwordConfirmation.errors.equalToControl">
        Password confirmation needs to match password
      </div>
    </div -->
  </div>

</form>

<br>

{{ userForm.value | json }}
